.container .zitate h5{
  background-color: gray;
  margin-bottom: 0px;
}

.container .zitate p{
  background-color: #efa;
  font-size: 19px;
  margin-bottom: 20px;
}

*{
  padding: 0px;
  margin: 0px;
}

.container .pagination{
  margin-bottom: 20px;
  text-align: center;
}
